@model ASS_C4.Models.Employee

@{
    ViewData["Title"] = "Employee";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .error-message {
        color: red;
    }
</style>
<div class="section__content section__content--p30">
    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
            <h3 class="title-5 m-b-35">Quản lý nhân viên</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-left">
                    <div class="rs-select2--light rs-select2--md">
                        <select class="js-select2" name="property">
                            <option selected="selected">All Properties</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <div class="rs-select2--light rs-select2--sm">
                        <select class="js-select2" name="time">
                            <option selected="selected">Today</option>
                            <option value="">3 Days</option>
                            <option value="">1 Week</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <button class="au-btn-filter">
                        <i class="zmdi zmdi-filter-list"></i>filters
                    </button>
                </div>
                <div class="table-data__tool-right">
                    <button type="button" data-toggle="modal" data-target="#createModal" class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus"></i>Thêm mới
                    </button>
                    <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                        <select class="js-select2" name="type">
                            <option selected="selected">Export</option>
                            <option value="">Excel</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="EmpId" />
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                TÊN NHÂN VIÊN
                            </th>
                            @*         <th>
                            HÌNH ẢNH
                            </th>*@
                            <th>
                                EMAIL
                            </th>
                            @*                            <th>
                            ĐỊA CHỈ
                            </th>*@
                            <th>
                                ĐIỆN THOẠI
                            </th>
                            <th>
                                TRẠNG THÁI
                            </th>
                            <th>
                                CHỨC VỤ
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int rowNo = 0;
                        }
                        @if (ViewBag.employee != null)
                        {
                            @foreach (var item in ViewBag.employee)
                            {
                                <tr class="tr-shadow item-@item.IdEmployee">
                                    <td>
                                        @(rowNo += 1)
                                    </td>
                                    <td>
                                        @item.NameEmployee
                                    </td>

                                    @*      <td>
                            <img src="@item.UrlImage" alt="Hình ảnh" style="width: 154px; height: 130px;">
                            </td>*@
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.Phone
                                    </td>
                                    <td>
                                        @(@item.IsActice ? "Đã kích hoạt" : "Chưa kích hoạt")
                                    </td>
                                    <td>
                                        @item.NameRole
                                    </td>
                                    <td>
                                        <div class="table-data-feature">
                                            <button class="edit-btn item"
                                                    data-toggle="modal" data-target="#editModal"
                                                    data-id="@item.IdEmployee"
                                                    data-placement="top" title="Sửa">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>

                                            <button class="item" id="showModal" href="@Url.Action("Delete", "Employee", new {id = item.IdEmployee})"
                                                    data-toggle="modal" data-target="#deleteModal" onclick="Confirm('@item.IdEmployee')"
                                                    data-placement="top" title="Xóa">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE -->
            <input type="hidden" id="employeeId" style="color:red" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Thêm mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Create" method="post" novalidate="novalidate" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group has-success">
                                <label for="cc-payment" class="control-label mb-1">Tên nhân viên (*)</label>
                                <input type="text" class="form-control" id="editName" required>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cc-payment" class="control-label mb-1">Email (*)</label>
                                            <input id="editEmail" name="Size" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cc-payment" class="control-label mb-1">Số điện thoại (*)</label>
                                            <input id="editPhone" name="Quantity" type="number" class="form-control" aria-required="true" aria-invalid="false" min="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cc-payment" class="control-label mb-1">Ngày sinh (*)</label>
                                            <input id="editBirthday" name="Price" type="datetime-local" class="form-control" aria-required="true" aria-invalid="false">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cc-payment" class="control-label mb-1">Tình trạng (*)</label>
                                            <select id="editActive" name="CategoryId" class="form-control" aria-required="true" aria-invalid="false">
                                                <option value="True">Đã kích hoạt</option>
                                                <option value="False">Chưa kích hoạt</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="cc-payment" class="control-label mb-1">Chọn hình ảnh (*)</label>
                                        <input id="editImage" name="Image" type="file" class="form-control" accept="image/*" aria-required="true" aria-invalid="false">
                                        <br />
                                        <label for="category" class="control-label mb-1">Chức vụ</label>
                                        <select id="editRole" name="CategoryId" class="form-control" aria-required="true" aria-invalid="false">
                                            @if (ViewBag.ViewAllRoles != null)
                                            {
                                                @foreach (var category in ViewBag.ViewAllRoles)
                                                {
                                                    <option value="@category.IdRole">@category.NameRole</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <img class="ImagePreview" id="editImagePreview" src="" />
                                    </div>
                                </div>
                                <label for="cc-name" class="control-label mb-1">Địa chỉ</label>
                                <textarea id="editAddress" name="Description" class="form-control cc-name valid" data-val="true"
                                          data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                </textarea>

                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" value="Create" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
                                <button type="submit" class="btn btn-primary" onclick="return validateForm()">Thêm mới</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">EDIT EMPLOYEE</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" id="editId">
                    <input type="hidden" id="editIdCategory">

                    <div class="form-group has-success">
                        <label for="cc-payment" class="control-label mb-1">Tên nhân viên (*)</label>
                        <input type="text" class="form-control" id="editName" required>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Email (*)</label>
                                    <input id="editEmail" name="Size" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Số điện thoại (*)</label>
                                    <input id="editPhone" name="Quantity" type="number" class="form-control" aria-required="true" aria-invalid="false" min="0">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Ngày sinh (*)</label>
                                    <input id="editBirthday" name="Price" type="datetime-local" class="form-control" aria-required="true" aria-invalid="false">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Tình trạng (*)</label>
                                    <select id="editActive" name="CategoryId" class="form-control" aria-required="true" aria-invalid="false">
                                        <option value="True">Đã kích hoạt</option>
                                        <option value="False">Chưa kích hoạt</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="cc-payment" class="control-label mb-1">Chọn hình ảnh (*)</label>
                                <input id="editImage" name="Image" type="file" class="form-control" accept="image/*" aria-required="true" aria-invalid="false">
                                <br />
                                <label for="category" class="control-label mb-1">Chức vụ</label>
                                <select id="editRole" name="CategoryId" class="form-control" aria-required="true" aria-invalid="false">
                                    @if (ViewBag.ViewAllRoles != null)
                                    {
                                        @foreach (var category in ViewBag.ViewAllRoles)
                                        {
                                            <option value="@category.IdRole">@category.NameRole</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-6">
                                <img class="ImagePreview" id="editImagePreview" src="" />
                            </div>
                        </div>
                        <label for="cc-name" class="control-label mb-1">Địa chỉ</label>
                        <textarea id="editAddress" name="Description" class="form-control cc-name valid" data-val="true"
                                  data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                </textarea>

                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
                <button type="button" class="btn btn-primary" id="editBtn">Sửa</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Xóa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Bạn có muốn xóa không ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
                <button type="submit" id="btnDelete" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>

<style>
    .ImagePreview {
        width: 368px;
        height: 207px;
    }
</style>

<script>
    $(document).ready(function () {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 2500,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });

        $("#btnDelete").click(function () {
            var _id = $("#employeeId").val();
            console.log(_id)
            $.ajax({
                type: "POST",
                url: "/Employee/Delete/" + _id,
                success: function (result) {
                    if (result) {
                        $("#deleteModal").modal('hide');
                        $(".item-" + _id).remove();
                        $("#employeeId").val("null");
                        Toast.fire({
                            icon: 'success',
                            title: 'Xóa thành công'
                        });
                    }
                    else {
                        alert("Có lỗi xảy ra !");
                    }
                }
            });
        });
    });

    var Confirm = function (IdEmployee) {
        $("#productId").val(IdProduct);
        $("#deleteModal").modal('show');
    }

    // Edit Product
    $('#editImage').change(function () {
        var file = $(this)[0].files[0];
        var fileName = file ? file.name : "";
        $('#selectedImage').text(fileName);

        if (file) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#editImagePreview').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        } else {
            $('#editImagePreview').attr('src', ''); // Đặt src về trống nếu không có file được chọn
        }
    });

    //format ngày giờ sang timestamp
    function formatTimestamp(timestamp) {
        var date = new Date(timestamp * 1000);
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var formattedDate = year + '-' + month.toString().padStart(2, '0') + '-' + day.toString().padStart(2, '0');
        var formattedTime = hours.toString().padStart(2, '0') + ':' + minutes.toString().padStart(2, '0');
        var formattedDateTime = formattedDate + 'T' + formattedTime;
        return formattedDateTime;
    }

    $('.edit-btn').click(function () {
        var id = $(this).data('id').toString();
        console.log(id);
        $.ajax({
            url: 'Employee/Edit/' + id,
            type: 'GET',
            success: function (result) {
                console.log(result);
                $.each(result, function (index, employee) {
                    $('#editId').val(result.idEmployee);
                    $('#editName').val(result.nameEmployee);
                    $('#editEmail').val(result.email);
                    $('#editPhone').val(result.phone);
                    $('#editAddress').val(result.address);
                    $('#selectedImage').text(result.image);
                    $('#editImagePreview').attr('src', result.image);
                    $('#editActive').val(result.isActice ? 'True' : 'False').prop('selected', true);

                    // Gọi hàm formatTimestamp để chuyển đổi timestamp thành định dạng ngày tháng
                    var formattedDateTime = formatTimestamp(result.birthday);
                    $('#editBirthday').val(formattedDateTime);
                    $('#editRole').val(result.roleId);
                });
            }
        });
    });



    function validateForm() {
        $('.error-message').remove();
        let error = false;
        if ($('#editName').val() === '') {
            $('#editName').after('<span class="error-message">Vui nhập tên nhân viên</span>');
            error = true;
        }

        if ($('#editEmail').val() === '') {
            $('#editEmail').after('<span class="error-message">Vui lòng nhập email</span>');
            error = true;
        }

        if ($('#editPhone').val() === '') {
            $('#editPhone').after('<span class="error-message">Vui lòng nhập số điện thoại</span>');
            error = true;
        }
        if ($('#editAddress').val() === '') {
            $('#editAddress').after('<span class="error-message">Vui lòng nhập địa chỉ</span>');
            error = true;
        }
        if ($('#editActive').val() === '') {
            $('#editActive').after('<span class="error-message">Vui lòng chọn tình trạng</span>');
            error = true;
        }

        if ($('#editBirthday').val() === '') {
            $('#editBirthday').after('<span class="error-message">Vui lòng nhập ngày sinh</span>');
            error = true;
        }

        if (document.getElementById("editImagePreview").src = null) {
            $('#editImagePreview').after('<span class="error-message">Vui lòng chọn hình ảnh</span>');
            error = true
        }
        return error;
    }

    function file() {
        const fileInput = document.getElementById('editImage');
        fileInput.addEventListener('change', (event) => {
            const fullPath = event.target.value; // Full path (not accessible in modern browsers)
            const fileName = event.target.files[0].name; // File name
            formData.append('FullPath', fullPath);

            console.log('Full Path:', fullPath);
            console.log('File Name:', fileName);
        });
    }
    // Edit
    $('#editBtn').click(function (e) {
        e.stopPropagation();
        e.preventDefault();
        let active = $('#editActive').val();

        console.log(active,'123');
        // Remove error messages before rechecking
        $('.error-message').remove();
        file();
        let error = validateForm();
        console.log(error)
        if (error == false) {
            let id = $('#editId').val();
            let name = $('#editName').val();
            let email = $('#editEmail').val();
            let phone = $('#editPhone').val();
            let files = $('#editImage')[0].files;
            let active = $('#editActive').val();
            let birthday = $('#editBirthday').val();
            let address = $('#editAddress').val();
            let roleId = $('#editRole').val();
            // Create a FormData object
            let formData = new FormData();
            formData.append('IdEmployee', id);
            formData.append('NameEmployee', name);
            formData.append('Email', email);
            formData.append('Phone', phone);
            formData.append('RoleId', roleId);
            formData.append('IsActice', active);

            for (let i = 0; i < files.length; i++) {
                formData.append('files', files[0]);
            }

            formData.append('Status', status);
            formData.append('Birthday', birthday);
            formData.append('Address', address);
            $.ajax({
                url: 'Employee/Edit',
                type: 'POST',
                data: formData,
                processData: false, // Important! Disable processing of data
                contentType: false, // Important! Let the server handle the content type
                success: function () {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Display detailed error in the console
                }
            });
        }
    });

</script>