@model ASS_C4.Models.Product

@{
    ViewData["Title"] = "Product";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .error-message {
        color: red;
    }
</style>
<div class="section__content section__content--p30">
    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->
            <h3 class="title-5 m-b-35">Quản lý chức vụ</h3>
            <div class="table-data__tool">
                <div class="table-data__tool-left">
                    <div class="rs-select2--light rs-select2--md">
                        <select class="js-select2" name="property">
                            <option selected="selected">All Properties</option>
                            <option value="">Option 1</option>
                            <option value="">Option 2</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <div class="rs-select2--light rs-select2--sm">
                        <select class="js-select2" name="time">
                            <option selected="selected">Today</option>
                            <option value="">3 Days</option>
                            <option value="">1 Week</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                    <button class="au-btn-filter">
                        <i class="zmdi zmdi-filter-list"></i>filters
                    </button>
                </div>
                <div class="table-data__tool-right">
                    <button type="button" data-toggle="modal" data-target="#createModal" class="au-btn au-btn-icon au-btn--green au-btn--small">
                        <i class="zmdi zmdi-plus"></i>Thêm mới
                    </button>
                    <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                        <select class="js-select2" name="type">
                            <option selected="selected">Export</option>
                            <option value="">Excel</option>
                        </select>
                        <div class="dropDownSelect2"></div>
                    </div>
                </div>
            </div>
            <input type="hidden" id="EmpId" />
            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                        <tr>
                            <th>
                                STT
                            </th>
                            <th>
                                TÊN SẢN PHẨM
                            </th>
                            <th>
                                HÌNH ẢNH
                            </th>
                            <th>
                                SỐ LƯỢNG
                            </th>
                            <th>
                                SIZE
                            </th>
                            <th>
                                GIÁ
                            </th>
                            <th>
                                TRẠNG THÁI
                            </th>
                            <th>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int rowNo = 0;
                        }
                        @if (ViewBag.product != null)
                        {
                            @foreach (var item in ViewBag.product)
                            {
                                <tr class="tr-shadow item-@item.IdProduct">
                                    <td>
                                        @(rowNo += 1)
                                    </td>
                                    <td>
                                        @item.NameProduct
                                    </td>
                                    <td class="desc">
                                        <img src="@item.Image" alt="Hình ảnh" style="width: 154px; height: 130px;">
                                    </td>
                                    <td class="desc">
                                        @item.Quantity
                                    </td>
                                    <td class="desc">
                                        @item.Size
                                    </td>
                                    <td class="desc">
                                        @string.Format("{0:N0}", item.Price) vnđ
                                    </td>
                                    <td class="desc">
                                        @item.Status
                                    </td>

                                    <td>
                                        <div class="table-data-feature">
                                            <button class="edit-btn item"
                                                    data-toggle="modal" data-target="#editModal"
                                                    data-id="@item.IdProduct"
                                                    data-placement="top" title="Sửa">
                                                <i class="zmdi zmdi-edit"></i>
                                            </button>

                                            <button class="item" id="showModal"  href="@Url.Action("Delete", "Product", new {id = item.IdProduct})"
                                                    data-toggle="modal" data-target="#deleteModal" onclick="Confirm('@item.IdProduct')"
                                                    data-placement="top" title="Xóa">
                                                <i class="zmdi zmdi-delete"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- END DATA TABLE -->
            <input type="hidden" id="productId" style="color:red" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <p>Copyright © 2018 Colorlib. All rights reserved. Template by <a href="https://colorlib.com">Colorlib</a>.</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Thêm mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="Create" method="post" novalidate="novalidate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group has-success">
                                <label for="cc-payment" class="control-label mb-1">Tên sản phẩm</label>
                                <input id="cc-pament" name="NameProduct" type="text" class="form-control" aria-required="true" aria-invalid="false">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cc-payment" class="control-label mb-1">Size</label>
                                            <input id="cc-pament" name="Size" type="number" class="form-control" aria-required="true" aria-invalid="false">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cc-payment" class="control-label mb-1">Số lượng</label>
                                            <input id="cc-payment" name="Quantity" type="number" class="form-control" aria-required="true" aria-invalid="false" min="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cc-payment" class="control-label mb-1">Giá</label>
                                            <input id="cc-pament" name="Price" type="number" class="form-control" aria-required="true" aria-invalid="false">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="cc-payment" class="control-label mb-1">Giá khuyến mãi</label>
                                            <input id="cc-payment" name="PricePromotion" type="number" class="form-control" aria-required="true" aria-invalid="false" min="0">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label for="cc-payment" class="control-label mb-1">Chọn Hình Ảnh</label>
                                        <input id="editImage" name="Image" type="file" class="form-control" accept="image/*" aria-required="true" aria-invalid="false">
                                        <span id="selectedImage"></span>
                                    </div>
                                    <div class="col-6">
                                        <label for="category" class="control-label mb-1">Chọn danh mục</label>
                                        <select id="category" name="CategoryId" class="form-control" aria-required="true" aria-invalid="false">
                                            <option value="">-- Chọn danh mục --</option>
                                            @if (ViewBag.viewAllCategory != null)
                                            {
                                                @foreach (var category in ViewBag.viewAllCategory)
                                                {
                                                    <option value="@category.IdCategory">@category.NameCategory</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>


                                <label for="cc-name" class="control-label mb-1">Mô tả</label>
                                <textarea id="cc-name" name="Description" class="form-control cc-name valid" data-val="true"
                                          data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                </textarea>

                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                            </div>
                            <div class="modal-footer">
                                <button type="button" value="Create" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
                                <button type="submit" class="btn btn-primary">Thêm mới</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Edit -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">EDIT PRODUCT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editForm">
                    <input type="hidden" id="editId">
                    <input type="hidden" id="editIdCategory">

                    <div class="form-group has-success">
                        <label for="cc-payment" class="control-label mb-1">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="editName" required>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Size</label>
                                    <input id="editSize" name="Size" type="number" class="form-control" aria-required="true" aria-invalid="false">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Số lượng</label>
                                    <input id="editQuantity" name="Quantity" type="number" class="form-control" aria-required="true" aria-invalid="false" min="0">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Giá</label>
                                    <input id="editPrice" name="Price" type="number" class="form-control" aria-required="true" aria-invalid="false">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="cc-payment" class="control-label mb-1">Giá khuyến mãi</label>
                                    <input id="editPricePromotion" name="PricePromotion" type="number" class="form-control" aria-required="true" aria-invalid="false" min="0">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="cc-payment" class="control-label mb-1">Chọn Hình Ảnh</label>
                                <input id="editImage" name="Image" type="file" class="form-control" accept="image/*" aria-required="true" aria-invalid="false">
                            </div>
                            <div class="col-6">
                                <label for="category" class="control-label mb-1">Chọn danh mục</label>
                                <select id="editCategory" name="CategoryId" class="form-control" aria-required="true" aria-invalid="false">
                                    <option value="">-- Chọn danh mục --</option>
                                    @if (ViewBag.viewAllCategory != null)
                                    {
                                        @foreach (var category in ViewBag.viewAllCategory)
                                        {
                                            <option value="@category.IdCategory">@category.NameCategory</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <label for="cc-name" class="control-label mb-1">Mô tả</label>
                        <textarea id="editDescription" name="Description" class="form-control cc-name valid" data-val="true"
                                  data-val-required="Please enter the name on card" autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error">
                                </textarea>

                        <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Trở lại</button>
                <button type="button" class="btn btn-primary" id="editBtn">Sửa</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 2500,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        });

        $("#btnDelete").click(function () {
            var _id = $("#productId").val();
            console.log(_id)
            $.ajax({
                type: "POST",
                url: "/Product/Delete/" + _id,
                success: function (result) {
                    if (result) {
                        $("#deleteModal").modal('hide');
                        $(".item-" + _id).remove();
                        $("#productId").val("null");
                        Toast.fire({
                            icon: 'success',
                            title: 'Xóa thành công'
                        });
                    }
                    else {
                        alert("Có lỗi xảy ra !");
                    }
                }
            });
        });
    });

    var Confirm = function (IdProduct) {
        $("#productId").val(IdProduct);
        $("#deleteModal").modal('show');
    }

        // Edit Product
    $('#editImage').change(function () {
        var file = $(this)[0].files[0];
        var fileName = file ? file.name : "";
        $('#selectedImage').text(fileName);
    });


    $('.edit-btn').click(function () {
        var id = $(this).data('id').toString();
        console.log(id);
        $.ajax({
            url: 'Product/Edit/' + id,
            type: 'GET',
            success: function (result) {
                console.log(result);
                $.each(result, function (index, product) {
                    $('#editId').val(product.idProduct);
                    $('#editName').val(product.nameProduct);
                    $('#editPrice').val(product.price);
                    $('#editPricePromotion').val(product.pricePromotion);
                    //$('#editImage').val(product.image);
                    $('#selectedImage').text(product.image); // Hiển thị tên tệp
                    $('#editStatus').val(product.status);
                    $('#editDescription').val(product.description);
                    $('#editCategory').val(product.categoryId);
                    $('#editQuantity').val(product.quantity);
                    $('#editSize').val(product.size);
                });
            }
        });
    });

    function validateForm() {
        $('.error-message').remove();
        let error = false;
        if ($('#editName').val() === '') {
            $('#editName').after('<span class="error-message">Vui nhập tên sản phẩm</span>');
            error = true;
        }

        if ($('#editSize').val() === '') {
            $('#editSize').after('<span class="error-message">Vui lòng nhập size</span>');
            error = true;
        }

        if ($('#editQuantity').val() === '') {
            $('#editQuantity').after('<span class="error-message">Vui lòng nhập số lượng</span>');
            error = true;
        }
        if ($('#editCategory').val() === '') {
            $('#editCategory').after('<span class="error-message">Vui lòng chọn danh mục</span>');
            error = true;
        }
        if ($('#editPrice').val() === '') {
            $('#editPrice').after('<span class="error-message">Vui lòng nhập giá</span>');
            error = true;
        }

        if ($('#editPricePromotion').val() === '') {
            $('#editPricePromotion').after('<span class="error-message">Vui lòng nhập giá khuyến mãi</span>');
            error = true;
        }
        let result = validateFileInput();
        if (result){
            error = true
        }
        return error;
    }

    function validateFileInput() {
        var selectedFile = $('#editImage')[0].files[0];
        // Kiểm tra nếu không có tệp tin được chọn
        if (!selectedFile) {
            $('#editImage').after('<span class="error-message">Vui lòng chọn hình ảnh</span>');
            return false;
        }
        return true;
    }


    $('#editBtn').click(function (e) {
        e.stopPropagation();
        e.preventDefault();

        // Remove error messages before rechecking
        $('.error-message').remove();

        let error = validateForm();
        console.log(error)
        if(error == false){
            console.log($('#editId').val());
            let id = $('#editId').val();
            let name = $('#editName').val();
            let price = $('#editPrice').val();
            let pricePromotion = $('#editPricePromotion').val();
            let image = $('#editImage')[0].files[0];
            let status = $('#editStatus').val();
            let idcategory = $('#editCategory').val();
            let quantity = $('#editQuantity').val();
            let size = $('#editSize').val();
            let description = $('#editDescription').val();

            $.ajax({
                url: 'Product/Edit',
                type: 'POST',
                data: {
                    IdProduct: id,
                    NameProduct: name,
                    Price: price,
                    PricePromotion: pricePromotion,
                    Image: image,
                    Status: status,
                    categoryId: idcategory,
                    Quantity: quantity,
                    Size: size,
                    Description: description
                },
                success: function () {
                    location.reload();
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText); // Display detailed error in the console
                }
            });
        }
    });



</script>